@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
}

.sidebar {
  list-style: none;
  text-decoration: none;
  padding: 0%;

}

.sidebar-link {
  text-decoration: none;
  padding: 0 1rem;
}

.navbar-link {
  float: left;
}

.error-message {
  color: black;
  background-color: lightcoral;
}

.home{
  font-size: 2rem;
  background-color: black;
}

.nav {
  background-color: #d9d9d9;
  color: white;
  display: flex;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  float: left;
  padding: 0 .25rem;
  font-size: 1.5rem;
  background-color: #d9d9d9;
  color: black;
  align-items: stretch;
  height: 100%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  width: 100;
}

.nav a.active {
  background-color: #a1c5e9;
}

.nav li:hover {
  background-color: #777;
}

main {
  display: flex;
}

.header {
  padding: 2rem;
  padding-left: 2rem;
  margin: 0%;
}

p {
  padding-left: 2rem;
  margin: 0%;
}



aside a.active {
  background-color: #a1c4e9;
  width: 100%;
}

aside a{
  color: black;
  width: 100%;
  display: block;
}

h1 {
  display: flex;
  padding: 2rem;
} 

aside {
  background-color: #d9d9d9;
  /* overflow: scroll;
  height: 40rem;
  width: 20%; */
}